/* (A) WHOLE PAGE */
body {
  max-width: 800px;
  padding: 20px;
}
.box {
  padding: 10px; margin: 5px;
  border: 2px solid #e0e0e0;
  border-radius: 10px;
}
.subtitle {
  font-size: 14px; font-weight: 700;
  color: #bdbdbd;
  margin-bottom: 5px;
}

/* (B) HEADER */
#d-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}
#d-head {
  display: flex;
  margin-bottom: 20px;
}
#d-head-left {
  flex-grow: 1;
}
#d-head-right {
  flex-shrink: 1;
}

/* (C) ITEMS */
#d-items {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
#d-items th, #d-items td {
  padding: 10px;
  border: 2px solid #e0e0e0;
}
#d-items thead {
  text-align: left;
  color: #fff;
  background: #000;
}
#d-items tbody tr:nth-child(even) {
  background: #f8f8f8;
}